<section fxLayoutAlign="center center">
    <mat-card >
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title >{{ 'HOME.TITLE' | translate }}</mat-card-title>
          <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
          <br>
            <a [routerLink]="['/newtimeline']" mat-raised-button color="primary">{{ 'HOME.ADD' | translate }}</a>
        </mat-card-header>

        <mat-card-content>

            <table mat-table [dataSource]="dataSourceTimeline"  matSort style="width: 100%;" >
                <!-- Id Column -->
                <ng-container matColumnDef="id" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="id">  Id </th>
                    <td mat-cell *matCellDef="let timeline"
                    > {{timeline.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="name" style="width: 200px" > Nom </th>
                    <td mat-cell *matCellDef="let timeline" > {{timeline.name}} </td>
                </ng-container>

                <!-- creationDate Column -->
                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="creationDate" > Date de création </th>
                    <td mat-cell *matCellDef="let timeline" > {{timeline.creationDate}} </td>
                </ng-container>

                <!-- updateDate Column -->
                <ng-container matColumnDef="updateDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="updateDate"> Date de modification </th>
                    <td mat-cell *matCellDef="let timeline"> {{timeline.updateDate}} </td>
                </ng-container>

                <!-- cardList Column -->
                <ng-container matColumnDef="cardList">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="cardList"> Nombre de cartes </th>
                    <td mat-cell *matCellDef="let timeline"> {{timeline.cardList.length}} </td>
                </ng-container>

                <!-- Editer Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Editer </th>
                    <td mat-cell *matCellDef="let timeline">
                        <mat-card-actions align="left">
                            <a [routerLink]="['/timeline', timeline.id]" mat-raised-button color="primary">Editer</a>
                        </mat-card-actions>
                        </td>
                </ng-container>

                <!-- Jouer Column -->
                <ng-container matColumnDef="play">
                    <th mat-header-cell *matHeaderCellDef> Jouer </th>
                    <td mat-cell *matCellDef="let timeline">
                        <mat-card-actions align="left" *ngIf="timeline.cardList.length > 0">
                            <a [routerLink]="['/play',timeline.id]" mat-raised-button color="primary">Jouer</a>
                        </mat-card-actions>
                        </td>
                </ng-container>

                <!-- Supprimer Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
                    <td mat-cell *matCellDef="let timeline">
                        <mat-card-actions align="left">
                            <a mat-raised-button color="primary" (click)="onDeleteTimeline(timeline.id)">Supprimer</a>
                        </mat-card-actions>
                        </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="timelineDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: timelineDisplayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


        </mat-card-content>
    </mat-card>
</section>
