<section fxLayout="column wrap" fxLayoutAlign="center center">
  <mat-card  fxFlex.xs="80%">
    <mat-card-title>Saisir une date</mat-card-title>

    <form (ngSubmit)="play(gameForm.value)" [formGroup]="gameForm" autocomplete="off" fxLayout="column wrap"
          fxLayoutAlign="center center"
          novalidate>
      <mat-card-content>

        <mat-form-field>
          <input matInput type="number" placeholder="Année" formControlName="dateCard" id="dateCard">
          <mat-hint align="begin">Date de la carte</mat-hint>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!gameForm.valid">Jouer</button>

      </mat-card-actions>
    </form>
  </mat-card>
  <mat-card >
    <div>
      <img src={{cardToPrint.imageUrl}} style="width: 200px"  />
    </div>
  </mat-card>
</section>
<section fxLayout="row" >
  <div *ngFor="let card of cardsWin">
    <div >
      <img src={{card.imageUrl}}  style="width: 200px" />
    </div>
  </div>
</section>

<section fxLayout="column wrap" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="onGoBack()">Retour à la liste des timelines</button>
</section>